<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  !! IMPORTANT NOTICE !!                                               -->
<!--  This is NOT the active Log4j configuration file for the EJB jar.     -->
<!--  The active file is named ?l. Please configure that file for  -->
<!--  your needs.                                                          -->
<!--                                                                       -->
<!--  This file is required as a temporary work-around for issues in the   -->
<!--  initialization of Log4j.                                             -->
<!--                                                                       -->
<!--                                                                       -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="INFO"/>
      <layout class="org.apache.log4j.PatternLayout">
	     <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
	  </layout>
   </appender>

   <!-- Dump important messages to the console -->
   <root>
      <level value="DEBUG"/>
	  <appender-ref ref="CONSOLE"/>
   </root>
</log4j:configuration>
